{{!-- {{#each products}}
  <div>
    <ul>
      <li>Title: {{product.title}}</li>
      <li>Description: {{product.description}}</li>
      <li>Code: {{product.code}}</li>
      <li>Price: {{product.price}}</li>
      <li>Status: {{product.status}}</li>
      <li>Stock: {{product.stock}}</li>
      <li>Category: {{product.category}}</li>
      <li>Quantity: {{quantity}}</li>
      <li>Thumbnails: 
        <ul>
          {{#each product.thumbnails}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
{{/each}} --}}

<header>
  <div>
    <h1>{{name}}</h1>
  </div>
  <div class="profile-container">
    <h5>{{user}}</h5>
    <button type="button" id="back-to-products-btn" class="back-to-products-btn">Back To Products</button>
    <button type="button" id="buy-btn" class="buy-btn">Buy</button>
    <button type="button" id="logout-btn" class="logout-btn">Logout</button>
  </div>
</header>
<hr>
<main>
  <div>
    <div id="product-container" class="products-container">
      <h2>Products in Cart</h2>
    </div>
  </div>
</main>
<hr>
<footer>
  <p>Axel Sánchez &copy; 2023</p>
</footer>

<script src="/js/carts.js"></script>